body {
  max-width: 2000px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

section {
  padding: 50px 0;
}

a,
.mobileMenu {
  color: $quaternary;
  font-size: 1rem;
  display: inline-block;
}

button {
  background-color: transparent;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn {
  font-family: $secondaryFont;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 5px 12px;
  color: $quaternary;
  background-color: $tertiary;
  &:hover,
  &:focus {
    background-color: $accent;
    color: $secondary;
  }
}
