.blogPage {
  background-image: url("../../../assets/blog-image-1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  .blogTitle {
    margin-top: 20vh;
    position: relative;
    z-index: 10;

    h1 {
      font-family: $primaryFont;
      font-size: 4.35rem;
      font-weight: 700;
      line-height: 58px;
      letter-spacing: 9px;
      margin-bottom: 35px;
      color: white;
    }
  }
}

.mainBlog {
  background-color: $quaternary;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .articleContainer {
    width: 100%;
    max-width: 900px;

    .blogPost {
      border-right: 3px solid $accent;
      border-bottom: 3px solid $accent;
      padding-right: 15px;
    }
  }

  .blogImgContainer {
    position: relative;
    top: -150px;

    img {
      box-shadow: 20px 20px 0 -3px $accent;
    }
  }

  .blogContent {
    width: 80%;
    margin: 0 auto;

    h2 {
      margin: -95px 0 -3px 0;
    }

    p:first-of-type {
      font-style: italic;
      color: $tertiary;

      span {
        font-weight: 700;
      }
    }
  }
}

.comments {
  width: 90%;
  margin: 0 auto;

  h3 {
    color: $primary;
    margin-bottom: 25px;
  }

  .commentContainer {
    display: flex;
    justify-content: space-between;

    .commentContent {
      width: calc(85% - 10px);
      margin-left: 10px;
      margin-bottom: 60px;
    }
  }
}

.aside {
  background-color: white;
  position: relative;
  top: 120px;
  max-width: 330px;
  width: 100%;
  margin-left: 50px;
  box-shadow: -15px 25px 0 3px white;

  a,
  .postList a {
    line-height: 32px;
    letter-spacing: 2px;

    &:hover,
    &:focus {
      color: $accent;
    }
  }
}

.mission {
  margin: 15px 0 25px 0;

  p {
    margin-bottom: 0;
  }

  a {
    color: $secondary;
  }
}

.recentPosts {
  .postList {
    padding: 10px;

    li {
      color: $accent;
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
    }

    a {
      color: $primary;
      padding: 5px 0;
    }
  }
}

form {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
