.contactPage {
  background-image: url("../../../assets/contact-image-1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;

  .contactTitle {
    position: relative;
    top: 130px;

    h1 {
      font-family: $primaryFont;
      font-size: 4.35rem;
      font-weight: 700;
      line-height: 58px;
      letter-spacing: 9px;
      color: white;
    }
  }
}

.contactForm {
  background-color: $quaternary;
  padding-bottom: 0;

  .wrapper {
    display: flex;
  }
  form {
    box-shadow: 20px 20px 0 -3px $accent;
    background-color: white;
    left: -40px;
  }
}

.socials {
  p {
    font-weight: 700;
  }
  .icons {
    display: flex;

    li {
      margin-right: 15px;
      margin-bottom: 10px;
    }
    a {
      color: $primary;
      font-size: 1rem;
    }
  }
}

.contactInfo {
  margin-left: 80px;
  margin-top: 50px;
}
