form {
  padding: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  top: -150px;

  input {
    border: none;
    border-bottom: 2px solid $accent;
    padding: 20px 30px;
    width: 100%;

    &[type="text"] {
      margin-right: 25px;
    }
  }
}

input,
textarea {
  margin-bottom: 40px;
  background-color: transparent;

  &::placeholder {
    font-family: $primaryFont;
    font-weight: 300;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 2px;
  }

  &:focus {
    border: 3px solid $quaternary;
  }
}

textarea {
  padding: 30px;
  border: 2px solid $accent;
  min-height: 250px;
  resize: none;
}
