// header starts here
header {
  background-image: url("../../../assets/home-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//navigation styles
nav {
  display: flex;

  .navBar {
    display: flex;

    li {
      margin-left: 30px;
    }
  }

  a {
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px 0 8px 20px;

    &:hover,
    &:focus {
      color: $accent;
    }
  }

  .mobileMenu {
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    background-color: $tertiary;
    border: 2px solid $accent;
    padding: 10px 15px;
    display: none;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $quinary;
      color: $tertiary;
    }
  }
}

//title styles
.welcomeTag {
  margin-top: 100px;
  position: absolute;
  top: 300px;
  left: 575px;
  z-index: 10;
}

.headerImgContainer {
  position: relative;
  top: 180px;
}
