@media (max-width: 1250px) {
  //blog post section
  .mainBlog {
    flex-direction: column;
  }

  //blog form section
  .blogForm {
    padding-bottom: 0;
  }

  //aside
  .aside {
    position: static;
    margin: -100px auto 150px auto;
  }
}

@media (max-width: 575px) {
  //blog post section starts here
  .mainBlog {
    .articleContainer {
      .blogPost {
        padding-right: 0;
      }
    }

    .blogContent {
      width: 90%;

      h2 {
        font-size: 1.2rem;
        line-height: 40px;
      }
    }
  }
  //blog post section ends here

  //comments section starts here
  .comments {
    margin-bottom: 50px;

    .commentContainer {
      flex-direction: column;

      .commentContent {
        width: 100%;
        margin: 0;
      }
    }
  }
  //comments section ends here

  //blog contact form starts here
  form {
    width: 95%;

    .flexContainer {
      flex-direction: column;
    }

    input {
      padding-bottom: 15px;
      width: 95%;

      &[type="text"] {
        margin-right: 0;
      }
    }
  }

  input,
  textarea {
    &::placeholder {
      font-size: 0.9rem;
      padding-bottom: 10px;
    }
  }
  //blog contact form ends here

  //aside starts here
  .aside {
    width: 90%;

    a,
    .postList a {
      font-size: 0.8rem;
      letter-spacing: 0.5px;
    }
  }
  //aside ends here
}

@media (max-width: 428px) and (max-height: 930px) {
  //header starts here
  .blogPage {
    height: auto;

    .blogTitle {
      margin-bottom: 90px;

      h1 {
        font-size: 3.5rem;
      }
    }
  }
}
//header ends here
