@media (max-width: 950px) {
  //contact form starts here
  .contactForm {
    padding: 0;

    form {
      position: static;
      width: 100%;
      box-shadow: 15px 15px 0 -2px $accent;
      border: 1px solid $accent;
      padding: 30px;
      margin-top: 50px;
    }

    .wrapper {
      flex-direction: column;
    }
  }
  //contact form ends here

  //socials start here
  .contactInfo {
    margin-left: 0;
  }
  //socials end here
}

@media (max-width: 428px) and (max-height: 930px) {
  //header starts here
  .contactPage {
    height: auto;

    .contactTitle {
      h1 {
        font-size: 3rem;
        line-height: 65px;
      }
    }
  }
}
//header ends here
