@media (max-width: 950px) {
  .contactPage {
    .contactTitle {
      bottom: 20px;

      h1 {
        font-size: 3.2rem;
      }
    }
  }

  .contactForm {
    form {
      position: static;
      width: 100%;
      box-shadow: 15px 15px 0 -2px $accent;
      border: 1px solid $accent;
      padding: 30px;
    }

    .wrapper {
      flex-direction: column;
    }
  }

  .contactInfo {
    margin-left: 0;
  }
}

@media (max-width: 568px) {
  .contactPage {
    .contactTitle {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 380px) {
  .contactPage {
    height: 70vh;

    .contactTitle {
      h1 {
        font-size: 1.6rem;
      }
    }
  }
}
