html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1,
.logo {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
}

h1 {
  font-size: 5.56rem;
  color: #063974;
}

.logo {
  font-size: 1.73rem;
  color: #50e3c2;
}

.welcomeTag span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 58px;
  letter-spacing: 6.7px;
  display: block;
  margin-left: 15px;
  color: #0c5f4c;
}

h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 58px;
  color: #0c5f4c;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.75rem;
  letter-spacing: 3.8px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 3.2px;
}

h4,
h5 {
  color: #063974;
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

section {
  padding: 50px 0;
}

a {
  color: #fafffe;
  font-size: 1rem;
  display: inline-block;
}

button {
  background-color: transparent;
  display: inline-block;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 5px 12px;
  color: #fafffe;
  background-color: #063974;
}
.btn:hover, .btn:focus {
  background-color: #50e3c2;
  color: #0c5f4c;
}

header {
  background-image: url("../../../assets/home-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .navBar li {
  margin-left: 30px;
}
nav .navBar a {
  line-height: 29px;
  letter-spacing: 1px;
  padding: 8px 0 8px 20px;
  text-transform: uppercase;
}
nav .navBar a:hover, nav .navBar a:focus {
  color: #50e3c2;
}

.welcomeTag {
  margin-top: 100px;
  position: absolute;
  top: 300px;
  left: 575px;
  z-index: 10;
}

.headerImgContainer {
  position: relative;
  top: 180px;
}

.mainFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  padding: 250px 0 80px 0;
}

.about .textContainer {
  max-width: calc(65% - 30px);
  margin-right: 30px;
}
.about .aboutImgContainer {
  min-width: 25%;
}
.about .aboutImgContainer img {
  -webkit-box-shadow: -20px 20px 0 -3px #50e3c2;
          box-shadow: -20px 20px 0 -3px #50e3c2;
}

.imgGallery {
  background-color: #d2f9f1;
  padding: 85px 0;
}
.imgGallery .mainFlexContainer li {
  width: calc(33.3333333333% - 30px);
}

.infoFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.infoFlexContainer .topContainer,
.infoFlexContainer .bottomContainer {
  width: calc(40% - 20px);
  margin-right: 20px;
}
.infoFlexContainer .topContainer .infoContainer,
.infoFlexContainer .bottomContainer .infoContainer {
  position: relative;
}
.infoFlexContainer .topContainer .iconTitle,
.infoFlexContainer .bottomContainer .iconTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconTitle .icon {
  color: #fff;
  background-color: #50e3c2;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  margin-bottom: 15px;
  position: absolute;
  left: -62px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.iconTitle .icon:hover, .iconTitle .icon:focus {
  color: #063974;
  background-color: transparent;
}
.iconTitle .icon:hover:hover + h3, .iconTitle .icon:hover:focus + h3, .iconTitle .icon:focus:hover + h3, .iconTitle .icon:focus:focus + h3 {
  color: #063974;
}
.iconTitle h3:hover,
.iconTitle h3:focus {
  color: #063974;
}

.planLocations {
  background-color: #d2f9f1;
}

.top .leftImgContainer {
  position: relative;
  top: -90px;
  margin-right: 30px;
}
.top .leftImgContainer img {
  -webkit-box-shadow: 20px 20px 0 3px #50e3c2;
          box-shadow: 20px 20px 0 3px #50e3c2;
}
.top .planAhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.top .planAhead .contentContainer {
  width: 70%;
}

.bottom .newLocations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.bottom .newLocations .contentContainer {
  text-align: right;
  width: 70%;
}
.bottom .rightImgContainer {
  margin-left: 15px;
  position: relative;
  bottom: -90px;
}
.bottom .rightImgContainer img {
  -webkit-box-shadow: -20px 20px 0 -3px #50e3c2;
          box-shadow: -20px 20px 0 -3px #50e3c2;
}

.bottomBanner {
  background-image: url("../../../assets/banner-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.freeTrip {
  text-align: center;
  padding: 150px 0;
  max-width: 67%;
}

.copyright {
  text-align: center;
  background-color: #272727;
  color: white;
}
.copyright p {
  margin-bottom: 0;
  padding: 3px 0;
}

form {
  padding: 40px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  position: relative;
  top: -150px;
}
form input {
  border: none;
  border-bottom: 2px solid #50e3c2;
  padding: 20px 30px;
  width: 100%;
}
form input[type=text] {
  margin-right: 25px;
}

input,
textarea {
  margin-bottom: 40px;
  background-color: transparent;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
input::placeholder,
textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
input:focus,
textarea:focus {
  border: 3px solid #fafffe;
}

textarea {
  padding: 30px;
  border: 2px solid #50e3c2;
  min-height: 250px;
  resize: none;
}

.contactPage {
  background-image: url("../../../assets/contact-image-1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.contactPage .contactTitle {
  position: relative;
  top: 130px;
}
.contactPage .contactTitle h1 {
  font-family: "Lato", sans-serif;
  font-size: 4.35rem;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 9px;
  color: white;
}

.contactForm {
  background-color: #fafffe;
  padding-bottom: 0;
}
.contactForm .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactForm form {
  -webkit-box-shadow: 20px 20px 0 -3px #50e3c2;
          box-shadow: 20px 20px 0 -3px #50e3c2;
  background-color: white;
  left: -40px;
  width: 65%;
  padding: 55px;
}

.socials p {
  font-weight: 700;
}
.socials .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials .icons li {
  margin-right: 15px;
  margin-bottom: 10px;
}
.socials .icons a {
  color: #2c2c2c;
  font-size: 1rem;
}

.contactInfo {
  margin-left: 80px;
  margin-top: 50px;
}

.blogPage {
  background-image: url("../../../assets/blog-image-1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.blogPage .blogTitle {
  position: relative;
  top: 130px;
}
.blogPage .blogTitle h1 {
  font-family: "Lato", sans-serif;
  font-size: 4.35rem;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 9px;
  color: white;
}

.mainBlog {
  background-color: #fafffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.mainBlog .blogPost {
  position: relative;
  top: -80px;
  width: calc(65% - 30px);
  margin-right: 30px;
}
.mainBlog .blogPost .container {
  border-right: 3px solid #50e3c2;
  border-bottom: 3px solid #50e3c2;
  max-width: 80%;
  padding: 0 15px 15px 0;
}
.mainBlog .blogImgContainer img {
  -webkit-box-shadow: 20px 20px 0 -3px #50e3c2;
          box-shadow: 20px 20px 0 -3px #50e3c2;
  margin-bottom: 50px;
}
.mainBlog .blogContent h2 {
  margin-bottom: -3px;
}
.mainBlog .blogContent p:first-of-type {
  font-style: italic;
  color: #063974;
}
.mainBlog .blogContent p:first-of-type span {
  font-weight: 700;
}

.comments h3 {
  color: #2c2c2c;
  margin-bottom: 25px;
}
.comments .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comments .commentContainer .commentContent {
  width: calc(85% - 10px);
  margin-left: 10px;
  margin-bottom: 60px;
}

.aside {
  max-width: 23%;
  position: absolute;
  right: 0;
  top: 150px;
  background-color: white;
  padding: 15px 0 15px 15px;
}
.aside .asideImgContainer {
  border: 1px solid green;
  max-width: 90%;
  position: relative;
  top: -30px;
  right: 0;
}
.aside a {
  line-height: 32px;
  letter-spacing: 2px;
}

.mission {
  margin-bottom: 25px;
}
.mission p {
  margin-bottom: 0;
}
.mission a {
  color: #0c5f4c;
}

.recentPosts .postList {
  padding: 10px;
}
.recentPosts .postList li {
  color: #50e3c2;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}
.recentPosts .postList a {
  color: #2c2c2c;
  padding: 5px 0;
}

form {
  width: 100%;
  padding: 0;
}

@media (max-width: 1340px) {
  .welcomeTag {
    left: 10%;
  }
  .welcomeTag h1 {
    font-size: 5rem;
  }
  .welcomeTag span {
    font-size: 3rem;
  }

  nav .navBar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .navBar li {
    margin-left: 0;
  }
  nav .navBar a {
    padding: 10px 10px 10px 0;
  }

  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top .planAhead {
    width: 100%;
    margin-bottom: 30px;
  }
  .top .planAhead .contentContainer {
    width: 90%;
  }

  .bottom .newLocations {
    width: 100%;
  }
  .bottom .newLocations .contentContainer {
    text-align: left;
    width: 90%;
  }
  .bottom .rightImgContainer {
    display: none;
  }
}
@media (max-width: 790px) {
  header {
    height: 90vh;
  }
  header .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .welcomeTag {
    top: 250px;
  }
  .welcomeTag h1 {
    font-size: 2.3rem;
  }
  .welcomeTag span {
    font-size: 1.8rem;
  }

  .headerImgContainer {
    display: none;
  }

  nav .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  nav .navBar li {
    margin-left: 0;
  }
  nav .navBar a {
    padding: 15px;
  }
  nav .navBar a:hover, nav .navBar a:focus {
    background-color: #063974;
  }

  .mainFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about {
    padding: 50px 0;
  }
  .about .textContainer {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .aboutImgContainer {
    margin: 0 auto;
    margin-top: 20px;
  }

  .imgGallery .mainFlexContainer li {
    margin: 10px auto;
    width: 60%;
  }

  .infoFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoFlexContainer .topContainer,
.infoFlexContainer .bottomContainer {
    width: 80%;
    margin-left: auto;
  }

  .freeTrip {
    padding: 50px 0;
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .welcomeTag {
    top: 200px;
  }
  .welcomeTag h1 {
    font-size: 2rem;
  }
  .welcomeTag span {
    font-size: 1.5rem;
  }

  .iconTitle .icon {
    left: -45px;
    font-size: 1rem;
    height: 35px;
    width: 35px;
  }
}